:root {
  --mskcc-blue: #007cba;
  --mskcc-orange: #df4602;
  --mskcc-dark-blue: #006098;
  --mskcc-medium-blue: #40b4e5;
  --mskcc-light-blue: #8fc7e8;
  --mskcc-dark-orange: #c24d00;
  --mskcc-medium-orange: #f29934;
  --mskcc-light-orange: #f6c65b;
  --mskcc-dark-violet: #83276b;
  --mskcc-light-violet: #b687b8;
  --mskcc-dark-magenta: #e92076;
  --mskcc-light-magenta: #efb3cb;
  --mskcc-red: #b1132d;
  --mskcc-dark-green: #4c8b2b;
  --mskcc-light-green: #a6ce39;
  --mskcc-dark-turquoise: #006c68;
  --mskcc-light-turquoise: #009490;
  --mskcc-dark-yellow: #ffc20e;
  --mskcc-light-yellow: #ffe100;
  --mskcc-dark-gray: #9e9e98;
  --mskcc-light-gray: #d5d4c7;
  --material-gray: #eceff1;
}
/* main CSS, affects all pages */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: var(--mskcc-medium-orange);
  /* background-color: lightgray; */
  min-height: 100vh;
}

[v-cloak] {
  display: none;
}

.app-body {
  display: grid;
  /* grid-template-rows: 0.75fr 5fr 0.5fr; */
  grid-template-rows: 150px 5fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0% 4%;
  align-items: center;
  /* keeps header fixed at the top of the screen */
  /* position: fixed; */
  /* max-height: 100%; */
  width: 100vw;
  z-index: 200;
  background-color: white;
}

.logo-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.logo-header .md-button {
  height: auto;
}

.right-header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  width: auto;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  padding-bottom: 1%;

  /* prevent right click red behavior from material */
  user-select: none;
}

/* navigations buttons should not have a gap on hover */
.main-nav .md-ripple.nav-button {
  margin: 0;
}

.main-nav .nav-button {
  text-transform: uppercase;
  /* font-size: 1.5em; */
  /* color: white !important; */
  text-decoration: unset;
  min-width: 100px;
}

.pre-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pre-nav .md-button,
.md-field {
  /* color: white !important; */
  font-size: 0.8em;
}

.pre-nav a,
form {
  margin: 0px 4px;
}

.pre-nav .search-form {
  margin-left: 10px;
}

.main-nav .router-link-active {
  border-bottom: solid var(--mskcc-orange) 2px;
}

.router-link-active .nav-button {
  color: var(--mskcc-orange) !important;
}

.md-list-item-content .md-button {
  margin: 0;
}

.tools-menu .md-button {
  font-size: 0.8em;
}

/* .md-menu-content-container {
  height: 100%;
} */

/* .nav .md-theme-default :not(input):not(textarea)::selection {
  background-color: unset;
} */

.app-header img.igo-logo {
  height: 5.5em;
  width: auto;
  /* margin: 20px 30px 20px 0px; */
  margin: 0% 10px;
  /* margin-right: 10px; */
}

.app-header .md-headline {
  width: 250px;
  text-align: left;
}

.app-main {
  grid-area: main;
  padding: 2% 2%;
  width: 97vw;
  background-color: white;
  margin: 0 auto;
  /* min-height: fit-content; */
  min-height: 100vh;
}

.app-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1% 0%;
}

.app-footer .md-body-2 {
  color: white;
  line-height: unset;
}

.app-footer img {
  max-height: 60%;
  place-self: center;
}

/* .tools-menu {
  z-index: 300;
} */

.md-menu-content-bottom-start.md-menu-content-auto.md-menu-content.md-theme-default {
  z-index: 250;
}

.md-display-1 {
  padding: 1%;
}

/* Home Page */

.announcement-bubble {
  align-items: center;
  background: rgba(0, 105, 255, 0.05);
  border: 1px solid #0069ff;
  border-radius: 3px;
  margin: 0 0 16px;
  padding: 16px 24px;
  display: flex;
}

.announcement-bubble .material-icons {
  margin-right: 1%;
}

.announcement-content {
  text-align: left;
}

.VueCarousel img {
  width: 60%;
  /* min-width: 100%; */
  max-height: 650px;
  object-fit: cover;
}

.igo-description {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0px;
}

.news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60%;
  margin: 0 auto;
}

.news-card {
  /* width: 350px; */
  /* height: 400px; */
  /* margin: 20px; */
  max-width: 300px;
  margin: 4px 10px;
  /* margin: 1% auto; */
  display: inline-block;
  vertical-align: top;
}

.news-card img {
  cursor: pointer;
}

.news-headline {
  margin: 1%;
}

.news-card .md-card-content {
  text-align: left;
}

.news {
  background-color: var(--material-gray);
  padding: 1% 12%;
}

#read-more {
  text-align: right;
}

/* News Page */

#news-page .md-card {
  width: 60%;
  margin: 1% auto;
  margin-bottom: 2%;
}

/* Images on all pages */

.team-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.md-content.lab-photo {
  max-width: 600px;
  margin: 24px;
}

/* Services and Prices */

.prices-container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    'bulk-header single-header other-header'
    'bulk-data single-data other-data';
}

.prices-image {
  margin: 2%;
}

.single-header {
  grid-area: single-header;
}

.bulk-header {
  grid-area: bulk-header;
}

.other-header {
  grid-area: other-header;
}

.single-data {
  grid-area: single-data;
}

.bulk-data {
  grid-area: bulk-data;
}

.other-data {
  grid-area: other-data;
}

.prices-container table {
  table-layout: fixed;
  max-width: 100%;
}

.prices-container .md-list-item-text {
  font-weight: bold;
  /* font-size: 110%; */
}

/* prevents header text from being hidden */
.prices-container .md-table-head-label {
  overflow: visible;
  white-space: normal;
  line-height: 12px;
}

.prices-container .md-table-head-container {
  overflow: visible;
}

/* prevent tables from growing out of their dropdowns */
.prices-container .md-list-item-default.md-list-item-container.md-button-clean {
  white-space: normal;
}

/* ddPCR Page */
.controls-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.search-form {
  grid-column-start: 2;
}

.md-card.legend {
  display: inline-block;
  height: fit-content;
  grid-column-start: 3;
  place-self: center;
}

.legend-label {
  text-align: left;
  font-size: 0.8em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.flex-container .md-card {
  /* display: inline-block; */
  /* max-width: 300px; */
  height: 400px;
  /* overflow: auto; */
  padding: 10px;
  margin: 5px;
}

.flex-container .md-content {
  width: 300px;
  height: 280px;
  overflow: auto;
}

.category-name {
  text-transform: capitalize;
}

.assay-list {
  margin: 0px 15px;
}

/* About page */

.about-body {
  /* display: grid; */
  grid-template-rows: 25% 75%;
  grid-template-areas:
    'description'
    'image';
  /* position: absolute; */
}

.about-description {
  grid-area: description;
  /* place-self: center; */
  width: 60%;
  /* text-align: left; */
}

.about-description,
.team-description {
  text-align: left;
}

.about-image-container {
  grid-area: image;
  place-self: center;
}

.md-tabs-navigation.md-elevation-0 {
  display: flex;
  flex-flow: row wrap;
}

.md-tabs.md-alignment-centered.md-theme-default {
  text-align: -webkit-center;
}

/* Team page */

.team-body {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-areas:
    'team-description'
    'members';
}

.team-description {
  grid-area: team-description;
  place-self: center;
  width: 60%;
}

.members-container {
  grid-area: members;
  place-self: center;
  display: flex;
  flex-flow: row wrap;
  max-width: 60%;
  justify-content: center;
}

.member-container {
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  align-content: center;
  margin: 0px 10px 0px;
  align-items: center;
}

.member-image-container {
  display: flex;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 5%;
}

.lab-member-image {
  object-fit: cover;

  /* top: 20%; */
}

/* FAQ Page */

#faq-page {
  margin: 0 5%;
}

#faq-page .md-list-item-content,
#sample-guidelines .md-list-item-content {
  white-space: normal;
}

/* archer fusion gene page */

#gene-table {
  max-width: 60%;
  margin: 0 auto;
}

.md-table#gene-table .md-table-cell {
  border: 1px solid grey;
}

/* criteria page */

.criteria-table {
  max-width: 85%;
}

.md-table-cell {
  height: -webkit-fill-available;
}

.pass {
  /* background-color: var(--mskcc-light-green); */
  background-color: #b3ffb3;
}

.try {
  /* background-color: var(--mskcc-light-yellow); */
  background-color: #ffffb3;
}

.fail {
  background-color: #ffb3b3;
}
/* style="font-size:50%;vertical-align:super;" */

sup {
  font-size: x-small;
}

.center-page {
  text-align: -webkit-center;
}

.single-cell-table {
  max-width: 60%;
}

/* data delivery page */

.data-delivery-card {
  max-width: 80%;
  /* margin: 0 auto; */
  text-align: left;
  margin: 1% auto;
}

#seq-capacity {
  height: 450px;
  width: 1000px;
}

.md-layout-item {
  max-width: 50%;
}

/* GANTT CHART  */
.ht_master tr:nth-of-type(even) > td {
  background-color: hsl(240, 2%, 95%);
}
.handsontable .htDimmed {
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 0;
  color: black !important;
}

.handsontable td:first-of-type {
  border-left: 0 !important;
}

/* metrics and througput */

#top-requests,
#top-requests-2 {
  width: 520px;
  height: 500px;
  padding: 0 1%;
}

.wrap {
  width: 1200px;
  height: 650px;
  overflow: hidden;
}

#top-requests-graph,
#top-requests-graph-2,
#seq-capacity {
  /* width: 1200px;
  height: 200px; */
  width: 100% !important;
  height: 100% !important;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: center;
}

/* contacts page */

#contacts-page .md-list-item-container {
  width: 120%;
}

/* reservations page */

#reservation-page .md-table {
  margin-top: 2%;
}

.existing-reservations-table .md-table-head {
  text-align: center;
}

/* cancel reservation page */

#cancel-reservation-page .md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

/* job descriptions */

#job-descriptions .md-card.news-card.md-theme-default {
  border-left: 5px solid var(--mskcc-light-turquoise);
}

/* feedback */

#feedback-page .md-card {
  max-width: 50%;
  margin: 0 auto;
}

#feedback-page table {
  margin: 0 auto;
}

#feedback-page .md-field.md-theme-default.md-has-textarea {
  /* max-width: 80%; */
  margin: 0 auto;
}

.opinion-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1%;
}

.error {
  color: #ff1744;
}

#pricing-inquiry {
  min-width: 450px;
}

#contact-form .md-dialog-container {
  overflow: auto;
}

.md-dialog .md-dialog-container.md-theme-default {
  max-height: inherit;
}

.career-banner .md-layout-item {
  /* width: 100%;
  height: auto; */
  height: 250px;
}

.career-banner {
  /* max-height: 10vmax;
  display: flexbox;
  grid-template-columns: repeat(3, 400px [col-start]);
  max-height: 1000px; */
  margin: 10px;
}
