:root {
  --mskcc-blue: #007cba;
  --mskcc-orange: #df4602;
  --mskcc-dark-blue: #006098;
  --mskcc-medium-blue: #40b4e5;
  --mskcc-light-blue: #8fc7e8;
  --mskcc-dark-orange: #c24d00;
  --mskcc-medium-orange: #f29934;
  --mskcc-light-orange: #f6c65b;
  --mskcc-dark-violet: #83276b;
  --mskcc-light-violet: #b687b8;
  --mskcc-dark-magenta: #e92076;
  --mskcc-light-magenta: #efb3cb;
  --mskcc-red: #b1132d;
  --mskcc-dark-green: #4c8b2b;
  --mskcc-light-green: #a6ce39;
  --mskcc-dark-turquoise: #006c68;
  --mskcc-light-turquoise: #009490;
  --mskcc-dark-yellow: #ffc20e;
  --mskcc-light-yellow: #ffe100;
  --mskcc-dark-gray: #9e9e98;
  --mskcc-light-gray: #d5d4c7;
  --material-gray: #eceff1;
}
/* main CSS, affects all pages */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

[v-cloak] {
  display: none;
}

.md-theme-default {
  background-color: white;
}

.app-container {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 0.75fr 5fr 0.5fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.app-header {
  grid-area: header;
  /* background-color: #4a6572; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 1% 10%;
  align-items: center;
  /* keeps header fixed at the top of the screen */
  /* position: fixed;
  width: 100vw;
  z-index: 200;
  background-color: white; */
}

.logo-header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.right-header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  width: auto;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
  flex-wrap: wrap;

  /* prevent right click red behavior from material */
  user-select: none;
}

/* navigations buttons should not have a gap on hover */
.main-nav .md-ripple.nav-button {
  margin: 0;
}

.main-nav .nav-button {
  text-transform: uppercase;
  font-size: 1.5em;
  /* color: white !important; */
  text-decoration: unset;
  min-width: 120px;
}

.pre-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* .pre-nav .md-button,
.md-field {
  color: white !important;
} */

.pre-nav a,
form {
  margin: 0px 4px;
}

.pre-nav .search-form {
  margin-left: 10px;
}

.router-link-active {
  border-bottom: solid var(--mskcc-orange) 2px;
}

.router-link-active .nav-button {
  color: var(--mskcc-orange) !important;
}

.md-list-item-content .md-button {
  margin: 0;
}

/* .nav .md-theme-default :not(input):not(textarea)::selection {
  background-color: unset;
} */

.app-header img.igo-logo {
  height: 4em;
  width: auto;
  /* margin: 20px 30px 20px 0px; */
  /* margin: 0% 0.5%; */
  margin-right: 10px;
}

/* .app-header .md-title {
  color: white;
} */

.msk-logo {
  margin: 10px 0px;
}

.app-main {
  grid-area: main;
  padding: 2% 2%;
  max-width: 100vw;
}

.app-footer {
  grid-area: footer;
  background-color: #344955;
}

/* Home Page */

/* .home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.carousel-div {
  max-width: 100vw;
  /* background-color: wheat; */
  /* display: flex; */
  /* text-align: center; */
}

.VueCarousel img {
  max-width: 50%;
  /* align-self: center; */
}

.news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.news-card {
  width: 320px;
  margin: 20px;
}

/* Images on all pages */

.team-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.md-content.lab-photo {
  max-width: 900px;
  margin: 24px;
}

/* Services and Prices */

.prices-container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "bulk-header single-header other-header"
    "bulk-data single-data other-data";
}

.single-header {
  grid-area: single-header;
}

.bulk-header {
  grid-area: bulk-header;
}

.other-header {
  grid-area: other-header;
}

.single-data {
  grid-area: single-data;
}

.bulk-data {
  grid-area: bulk-data;
}

.other-data {
  grid-area: other-data;
}

.prices-container table {
  table-layout: fixed;
  max-width: 100%;
}

.prices-container .md-list-item-text {
  font-weight: bold;
  /* font-size: 110%; */
}

/* prevent tables from growing out of their dropdowns */
.prices-container .md-list-item-default.md-list-item-container.md-button-clean {
  white-space: normal;
}

/* ddPCR Page */
.controls-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.search-form {
  grid-column-start: 2;
}

.md-card.legend {
  display: inline-block;
  height: fit-content;
  grid-column-start: 3;
  place-self: center;
}

.legend-label {
  text-align: left;
  font-size: 80%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.flex-container .md-card {
  /* display: inline-block; */
  /* max-width: 300px; */

  height: 400px;
  /* overflow: auto; */
  padding: 10px;
  margin: 5px;
}

.flex-container .md-content {
  width: 300px;
  height: 280px;
  overflow: auto;
}

.category-name {
  text-transform: capitalize;
}

.assay-list {
  margin: 0px 15px;
}

/* About page */

.about-body {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "description"
    "image";
}

.about-description {
  grid-area: description;
  place-self: center;
  width: 60%;
}

.about-image-container {
  grid-area: image;
  place-self: center;
}

/* Team page */

.team-body {
  display: grid;
  /* grid-template-rows: auto; */
  grid-template-areas:
    "team-description"
    "members";
}

.team-description {
  grid-area: team-description;
  place-self: center;
  width: 60%;
}

.members-container {
  grid-area: members;
  place-self: center;
  display: flex;
  flex-flow: row wrap;
  max-width: 60%;
  justify-content: center;
}

.member-container {
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  align-content: center;
  margin: 0px 10px 0px;
  align-items: center;
}

.member-image-container {
  display: flex;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 5%;
}

.lab-member-image {
  object-fit: cover;

  /* top: 20%; */
}
